* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 5px;
}

.container-calculator {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

h1 {
	margin-top: 10px;
	color: #999;
	font-size: 15px;
	text-align: center;
	font-size: 70px;
	margin-top: 15px;
}

body {
	background-color: white;
}

#calculator {
	display: flex;
	width: 320px;
	box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
	margin-top: 10px;
	align-items: flex-start;
	flex-wrap: wrap;
}

#calculator > button,
#result,
#calculation {
	padding: 17px 17px 17px 17px;
	text-align: center;
	font-size: 18px;
	flex: 1 1 25%;
}

#calculator > #calculation,
#calculator > #result {
	flex: 1 1 100%;
}

#calculator>#calculation {
	height: 12px;
	border-bottom: 0.2px #5555ff solid;
	padding-bottom: 22px;
	text-align: left;
	font-size: 13px;
}

#calculator > #result {
	
	text-align: right;
	height:55px;
}

#calculator>.zero-button {
	flex: 1 1 75%;
}

button:hover {
	background-color: azure;
	cursor: pointer;
}

button {
	border: 0.6px #999 solid;
}

.worth-button {
	background-color: #5555ff;
	color: white;
}

#calculator > .worth-button:hover {
	background-color: transparent;
	color: #5555ff;
	font-size: 23px;
}
